extends layout

block content
  h1.pt-4= title

  form(action='/catalog/author', method='get')
    input(type='text', name='name', placeholder='Пошук автора', value=search_name)
    button(type='submit') Знайти

  if author_list.length
    ul
      each author in author_list
        li
            a(href=author.url) #{author.first_name} #{author.family_name}
            |  (#{author.date_of_birth ? author.date_of_birth.toLocaleDateString('uk-UA') : 'н/д'} - #{author.date_of_death ? author.date_of_death.toLocaleDateString('uk-UA') : 'н/д'})
    
  else
    p Авторів не знайдено.
